// main: ../style.less

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-woman1 {
  .blick {
    position: absolute;
    width: 100vw;
    height: 1019px;
    object-fit: cover;
    left: 0px;
    top: -156px;
    z-index: -1;
  }

  .heading {
    display: inline-block;
    color: #fff;
    opacity: .6;
    font-weight: 300;

    &-best {
      height: 75px;
      padding: 40px 0 0 0;
      font-size: @f-m;
      letter-spacing: .1em;
    }
    &-accuracy {
      padding: 17px 0 0 0;
      font-size: @f-xl;
    }
    &-question {
      opacity: 1;
      font-weight: 400;
      font-size: @f-xl;
      color: @c-primary;
      margin: 0 0 60px 0;
      line-height: 25px;
    }
    &-prediction {
      font-size: @f-m;
      letter-spacing: 0.1em;
    }
  }

  .img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 42px 0 0 0;
    
    .img {}

    .icon {
      width: 390px;
      height: 390px;
      opacity: .2;
    }

    .woman {
      width: 390px * 0.6;
      height: 390px * 0.6;
      position: absolute;
    }  
  }

  .btn-yes {}
  .btn-no {}
}
.section-text {}
.section-woman2 {}
.section-question1 {}


@media (max-width: calc(382px - 17px)) {
  .section-woman1 {
    .blick {
      width: 382px;
      left: .responsive(-17, 0)[@prop];
    }
  }
}

@media (max-width: @max-res*1px) {
  .section-woman1 {
    .blick {
      height: .responsive(402, 1019)[@prop];
      top: .responsive(-7, -156)[@prop];
    }

    .heading {
      &-best {
        height: .responsive(35, 75)[@prop];
        padding: .responsive(16.5, 40)[@prop] 0 0 0;
        font-size: .responsive(12, 16)[@prop];
      }
      &-accuracy {
        padding: .responsive(11, 17)[@prop] 0 0 0;
        font-size: .responsive(20, 25)[@prop];
      }
      &-question {
        margin: 0 0 .responsive(23, 60)[@prop] 0;
        font-size: .responsive(16, 25)[@prop];
      }
      &-prediction {
        font-size: .responsive(12, 16)[@prop];
      }
    }

    .img-block {
      padding: .responsive(17, 42)[@prop] 0 0 0;

      .icon {
        width: .responsive(225, 390)[@prop];
        height: .responsive(225, 390)[@prop];
        opacity: .2;
      }
  
      .woman {
        width: calc(.responsive(225, 390)[@prop] * 0.6);
        height: calc(.responsive(225, 390)[@prop] * 0.6);
      }  
    }
  }
}

// todo: background image styles
