<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  
  <title>Last page</title>
  
  <link rel="stylesheet" href="../assets/styles/style.css">
</head>
<body>

  <div class="last-page">
    <div class="container">
      <header class="header">
        <p class="header__text">
          Спасибо за Ваши ответы!
          <span>
            Мы подготовили для Вас персональную аудио запись с Вашим прогнозом.
          </span>
        </p>
      </header>
      
      <main class="main">
        <p class="text text-1">
          Вы можете узнать, как повлиять на события, которые ожидают вас в ближайшем будущем. 
        </p>

        <div class="main-text-block">
          <p class="main-text-block__text">
            <span>
              Первое значимое событие может произойти уже 14.02.2021,
            </span>
            Вам надо быть готовым, что бы последствия не оказались необратимыми.
          </p>
        </div>

        <p class="text text-2">
          Нажмите на кнопку ниже прямо сейчас и наберите наш номер телефона. Прослушайте важную информацию!
        </p>

        <button class="btn btn-call-n-listen">
          Позвонить и прослушать
        </button>

        <div class="fetched-info">
          <table  width="100%" >
            <thead>
              <tr>
                <th>Ключ</th>
                <th>Значение</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    
      <footer class="footer">
        <p class="footer__text">
          TERMENI SI CONDITII: ACESTA ESTE UN SERVICIU DE DIVERTISMENT. PRIN FOLOSIREA LUI DECLARATI CA AVETI 18 ANI IMPLINITI, TERMENI SI CONDITII: ACESTA ESTE UN SERVICIU DE DIVERTISMENT. PRIN FOLOSIREA LUI DECLARATI CA AVETI 18 ANI IMPLINITI
        </p>
      </footer>

    </div>
  </div>
  
  <script src="../request.js"></script>
</body>
</html>