<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
 
  <title>Message recording</title>
  
  <link rel="stylesheet" href="../assets/styles/style.css">
</head>
<body>

  <div class="msg-recording">
    <img class="msg-recording__img" src="../assets/images/microphone.svg" alt="microphone"></img>  
    <progress class="msg-recording__progress" id="loading" max="100" value="20"> 20% </progress>
    <label class="msg-recording__label msg-recording__label-1" for="loading">20%</label>
    <label class="msg-recording__label msg-recording__label-2" for="loading">Запись сообщения</label>
  </div>

</body>
</html>