<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  
  <title>Question 1</title>
  
  <link rel="stylesheet" href="../assets/styles/style.css">
</head>
<body>

  <main>
    <section class="section section-woman1">
      <img class="blick" src="../assets/images/blik.png" alt="blik">
      
      <div class="container">
        <div class="section__body">
          <h3 class="heading heading-best">
            Лучшие астрологи и экстрасенсы Румынии
          </h3>
          <hr>
          <h1 class="heading heading-accuracy">
            Точность прогноза: 97%
          </h1>
      
          <div class="img-block">
            <img class="img-block__img icon" src="../assets/images/icon1.svg" alt="icon1">
            <img class="img-block__img woman" src="../assets/images/woman1.png" alt="woman1">
          </div>
      
          <h3 class="heading heading-question">
            Вас беспокоит вопрос о том,<br> КОГДА ВЫ ПОКИНЕТЕ ЭТОТ МИР И ПРИ <br> КАКИХ ОБСТОЯТЕЛЬСТВАХ?
          </h3>
      
          <div class="btns-row">
            <button class="btn btn-yes">Да</button>
            <button class="btn btn-no">Нет</button>
          </div>
      
          <h3 class="heading heading-prediction">
            Онлайн предсказание
          </h3>
        </div>
      </div>
    </section>
  
    <section class="section section-text">
      <div class="text__container">
        <img src="../assets/images/hands.png" alt="hands" class="text__image">
        <p class="text__body">
          <span class="text__part1">
            Позвольте нам раскрыть эту волнующую тайну и
          </span>
          <span class="text__accent">
            с точностью определить дату и время вашей смерти,
          </span>
          <span class="text__part3">
            а также предшествующую этому событию причину
          </span>
        </p>
      </div>
    </section>
  
    <section class="section section-woman2">
      <div class="text">
        <img src="../assets/images/woman2.jpg" alt="hands" class="text__image">
        <p class="text__body">
          <span class="text__part1">
            Многие не верят предсказаниям и мы решили доказать каждому,
          </span>
          <span class="text__accent">
            что прогноз может изменить жизнь любого человека!
          </span>
        </p>
      </div>
    </section>
  
    <section class="section section-question1">

      <div class="container">   
        <div class="question-block">
          <div class="question-block__question">
            Боитесь ли вы умереть?
          </div>
          <div class="btns-row">
            <button class="btn btn-yes">Да</button>
            <button class="btn btn-no">Нет</button>
          </div>
          <footer class="question-block__footer">
            Вопрос 1-5
          </footer>
        </div>
        
        <div class="quote-block">
          <img class="quote-block__bg-img quote-block__bg-img--eye" src="../assets/images/eye.svg" alt="eye"></img>
          <img class="quote-block__bg-img quote-block__bg-img--eye1" src="../assets/images/eye-1.svg" alt="eye-1"></img>  

          <div class="quote-block__body">
            <img class="quote-block__rune" src="../assets/images/rune1.svg" alt="rune1"></img>
            <div class="quote-block__text">
              Вы, конечно, умрете.<br>
              И все, с кем вы знакомы,<br>
              тоже однажды умрут.  
            </div>
            <img class="quote-block__rune" src="../assets/images/rune2.svg" alt="rune2"></img>
          </div>
        </div>  
      </div>
    </section>

    <footer class="footer">
      <div class="footer__body">
        TERMENI SI CONDITII: ACESTA ESTE UN SERVICIU DE DIVERTISMENT. PRIN FOLOSIREA LUI DECLARATI CA AVETI 18 ANI IMPLINITI,
      </div>
    </footer>
  </main>

</body>
</html>