<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  
  <title>Question 2</title>
  
  <link rel="stylesheet" href="../assets/styles/style.css">

</head>
<body>

  <div class="question-page question2">
    <div class="container">
      <header class="header">
        <p class="header__text">
          Мы расскажем Вам не только подробности вашей смерти, но также поможем Вам избежать этой ужасной даты и продлить вашу жизнь на многие годы.
        </p>
        <img class="bg-img header__bg-img-eye1" src="../assets/images/eye-1.svg" alt="eye-1"></img>  
        <hr>
      </header>
      
      <main class="main">
        <h1 class="question">
          Когда Вы чувствуете себя наиболее комфортно?
        </h1>
        <div class="col">
          <button class="btn btn-morning">Утро</button>
          <button class="btn btn-day">День</button>
          <button class="btn btn-evening">Вечер</button>
          <button class="btn btn-night">Ночь</button>
        </div>
      </main>
    
      <footer class="footer">
        <p class="footer__text">Вопрос 2-5</p>
      </footer>

      <img class="bg-img bg-img-eye" src="../assets/images/eye.svg" alt="eye"></img>
    </div>
  </div>

</body>
</html>