<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  
  <title>Question 1</title>
  
  <link rel="stylesheet" href="../assets/styles/style.css">
</head>
<body>

  <main>
    <section class="section section-woman1">      
      <div class="container">
        <div class="section__body">
          <h3 class="heading heading-best">
            Лучшие астрологи и экстрасенсы Румынии
          </h3>
          <hr>
          <h1 class="heading heading-accuracy">
            Точность прогноза: 97%
          </h1>
      
          <div class="img-block">
            <img class="img icon" src="../assets/images/icon1.svg" alt="icon1">
            <img class="img woman" src="../assets/images/woman1.png" alt="woman1">
          </div>
      
          <h3 class="heading heading-question">
            Вас беспокоит вопрос о том,<br> КОГДА ВЫ ПОКИНЕТЕ ЭТОТ МИР И ПРИ <br> КАКИХ ОБСТОЯТЕЛЬСТВАХ?
          </h3>
      
          <div class="btns-row">
            <button class="btn btn-yes">Да</button>
            <button class="btn btn-no">Нет</button>
          </div>
      
          <h3 class="heading heading-prediction">
            Онлайн предсказание
          </h3>
        </div>
      </div>
    </section>
  
    <section class="section section-text">
  
    </section>
  
    <section class="section section-woman2">
  
    </section>
  
    <section class="section section-question1">
  
    </section>
  </main>

</body>
</html>