<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  
  <title>Question 5-2</title>
  
  <link rel="stylesheet" href="../assets/styles/style.css">
</head>
<body>

  <div class="question-page question5">
    <div class="container">
      <header class="header">
        <p class="header__text">
          По вам скучает очень близкий человек, которого больше нет в мире живых. Возможно это дедушка или бабушка.
        </p>
        <img class="bg-img header__bg-img-eye1" src="../assets/images/eye-1.svg" alt="eye-1"></img>  
        <hr>
      </header>
      
      <main class="main">
        <h1 class="question">
          Запись, которую Вы услышите, может шокировать людей с неокрепшей психикой. Вы готовы узнать, что ждет именно Вас?
        </h1>
        <div class="col">
          <button class="btn btn-yes">Да</button>
          <button class="btn btn-doubting">Затрудняюсь ответить</button>
        </div>
      </main>
    
      <footer class="footer">
        <p class="footer__text">Вопрос 5-5</p>
      </footer>

      <img class="bg-img bg-img-eye" src="../assets/images/eye.svg" alt="eye"></img>
    </div>
  </div>

</body>
</html>