* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active,
a:focus,
a:active {
  outline: none;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
header,
nav,
aside,
footer {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  text-align: center;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:hover,
a:visited {
  text-decoration: none;
}
@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/badscript/v9/6NUT8F6PJgbFWQn47_x7lOw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
body {
  background-color: #202024;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
hr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin: 0 0 36px 0;
  width: 12.8em;
  height: 2.86em;
  border-radius: 3.57em;
  position: relative;
  background: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
  font-size: 20px;
  color: #fff;
  overflow: hidden;
}
.btn::after {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(248.67deg, rgba(255, 255, 255, 0) 30.84%, rgba(255, 255, 255, 0.29) 46.06%, rgba(255, 255, 255, 0) 64.04%);
  transform: translateX(-100%);
  opacity: 0;
}
.btn::after {
  opacity: 1;
  animation: btn-blick-move 1.5s linear infinite;
}
@keyframes btn-blick-move {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(150%);
  }
}
@media (max-width: 1440px) {
  .btn {
    margin: 0 0 calc(18*1px + (36 - 18) * ((100vw - 320*1px) / (1440 - 320))) 0;
    font-size: calc(14*1px + (20 - 14) * ((100vw - 320*1px) / (1440 - 320)));
  }
}
.loader-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 25px;
}
.loader {
  color: #202024;
  display: inline-block;
  position: relative;
  width: 6.66em;
  height: 6.66em;
}
.loader div {
  transform-origin: 3.33em 3.33em;
}
.loader div::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.25em;
  left: 3.083em;
  width: 0.593em;
  height: 1.125em;
  border-radius: 0.292em;
  animation: change-color 1s linear infinite;
}
.loader div:nth-child(1) {
  transform: rotate(0deg);
}
.loader div:nth-child(1)::after {
  animation-delay: 1s;
}
.loader div:nth-child(2) {
  transform: rotate(30deg);
}
.loader div:nth-child(2)::after {
  animation-delay: 0.08333333s;
}
.loader div:nth-child(3) {
  transform: rotate(60deg);
}
.loader div:nth-child(3)::after {
  animation-delay: 0.16666667s;
}
.loader div:nth-child(4) {
  transform: rotate(90deg);
}
.loader div:nth-child(4)::after {
  animation-delay: 0.25s;
}
.loader div:nth-child(5) {
  transform: rotate(120deg);
}
.loader div:nth-child(5)::after {
  animation-delay: 0.33333333s;
}
.loader div:nth-child(6) {
  transform: rotate(150deg);
}
.loader div:nth-child(6)::after {
  animation-delay: 0.41666667s;
}
.loader div:nth-child(7) {
  transform: rotate(180deg);
}
.loader div:nth-child(7)::after {
  animation-delay: 0.5s;
}
.loader div:nth-child(8) {
  transform: rotate(210deg);
}
.loader div:nth-child(8)::after {
  animation-delay: 0.58333333s;
}
.loader div:nth-child(9) {
  transform: rotate(240deg);
}
.loader div:nth-child(9)::after {
  animation-delay: 0.66666667s;
}
.loader div:nth-child(10) {
  transform: rotate(270deg);
}
.loader div:nth-child(10)::after {
  animation-delay: 0.75s;
}
.loader div:nth-child(11) {
  transform: rotate(300deg);
}
.loader div:nth-child(11)::after {
  animation-delay: 0.83333333s;
}
.loader div:nth-child(12) {
  transform: rotate(330deg);
}
.loader div:nth-child(12)::after {
  animation-delay: 0.91666667s;
}
.loader-text {
  margin: 2.33em 0 0 0;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: #fff;
  opacity: 0.6;
}
@keyframes change-color {
  0% {
    background: #D7B671;
  }
  8.33% {
    background: #FFE3A7;
  }
  16.66% {
    background: #FDD98B;
  }
  25% {
    background: #F6C866;
  }
  33.32% {
    background: #E6A43C;
  }
  41.65% {
    background: #DFA03C;
  }
  49.98% {
    background: #D0A342;
  }
  58.31% {
    background: #D79C1E;
  }
  66.64% {
    background: #CF9519;
  }
  74.97% {
    background: #BC8614;
  }
  83.3% {
    background: #B47E0B;
  }
  91.63% {
    background: #AB780A;
  }
}
@media (max-width: 1440px) {
  .loader-wrapper {
    font-size: calc(12*1px + (20 - 12) * ((100vw - 320*1px) / (1440 - 320)));
    line-height: calc(14*1px + (25 - 14) * ((100vw - 320*1px) / (1440 - 320)));
  }
}
.question1 .container {
  max-width: 1440px;
  margin: 0 auto;
}
.question1 .section__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question1 .section-woman1 .blick {
  position: absolute;
  width: 100vw;
  height: 1019px;
  object-fit: cover;
  left: 0px;
  top: -156px;
  z-index: -1;
}
.question1 .section-woman1 .heading {
  display: inline-block;
  color: #fff;
  opacity: 0.6;
  font-weight: 300;
}
.question1 .section-woman1 .heading-best {
  height: 75px;
  padding: 40px 0 0 0;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.question1 .section-woman1 .heading-accuracy {
  padding: 17px 0 0 0;
  font-size: 25px;
}
.question1 .section-woman1 .heading-question {
  opacity: 1;
  font-weight: 400;
  font-size: 25px;
  color: #F6C866;
  margin: 0 0 60px 0;
  line-height: 25px;
}
.question1 .section-woman1 .heading-prediction {
  font-size: 16px;
  letter-spacing: 0.1em;
}
.question1 .section-woman1 .img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 42px 0 0 0;
}
.question1 .section-woman1 .img-block .icon {
  width: 390px;
  height: 390px;
  opacity: 0.2;
}
.question1 .section-woman1 .img-block .woman {
  width: 234px;
  height: 234px;
  position: absolute;
}
.question1 .section-text {
  display: block;
  padding: 80px 0 40px 0;
  flex-direction: column;
  color: #fff;
  font-size: 25px;
}
.question1 .section-text .text__container {
  position: relative;
  width: 442px;
  height: 437px;
  margin: 0 auto;
  padding: 120px 40px 0;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}
.question1 .section-text .text__image {
  position: absolute;
  margin: 0 auto;
  width: 135px;
  height: 135px;
  top: -2.4375em;
  left: calc(50% - 2.4375em);
}
.question1 .section-text .text__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 35px;
}
.question1 .section-text .text__accent {
  font-size: 25px;
  font-weight: 500;
  color: #F6C866;
}
.question1 .section-woman2 {
  padding: 0 0 130px 0;
  display: flex;
  justify-content: center;
}
.question1 .section-woman2 .text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1440px;
  height: 606px;
}
.question1 .section-woman2 .text__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
  z-index: -1;
}
.question1 .section-woman2 .text__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 35px;
  width: 380px;
  height: 259px;
}
.question1 .section-woman2 .text__part1 {
  font-size: 25px;
  color: #fff;
}
.question1 .section-woman2 .text__accent {
  font-size: 25px;
  color: #F6C866;
}
.question1 .section-question1 {
  padding: 0 0 150px 0;
  text-align: center;
}
.question1 .section-question1 .question-block {
  padding: 0 0 106px 0;
}
.question1 .section-question1 .question-block__question {
  padding: 0 0 47px 0;
  text-transform: uppercase;
  color: #F6C866;
  font-size: 25px;
}
.question1 .section-question1 .question-block__footer {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #fff;
  opacity: 0.6;
}
.question1 .section-question1 .quote-block {
  position: relative;
}
.question1 .section-question1 .quote-block__bg-img {
  position: absolute;
  opacity: 0.2;
}
.question1 .section-question1 .quote-block__bg-img--eye {
  width: 160px;
  height: 160px;
  top: 80%;
  left: -2.76%;
}
.question1 .section-question1 .quote-block__bg-img--eye1 {
  width: 297px;
  height: 157px;
  top: -20%;
  right: -7.64%;
}
.question1 .section-question1 .quote-block__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question1 .section-question1 .quote-block__rune {
  width: 56.5px;
  height: 17.4px;
}
.question1 .section-question1 .quote-block__text {
  padding: 80px 0;
  font-family: 'Bad Script', cursive;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
}
.question1 .footer {
  display: none;
  overflow: scroll;
}
.question1 .footer__body {
  margin: 0 auto;
  width: 294px;
  height: 27px;
  text-align: center;
  text-transform: uppercase;
  font-size: 7px;
  letter-spacing: 3px;
  line-height: 9px;
  color: #9D9D9D;
}
@media (max-width: calc(382px - 17px)) {
  .question1 .section-woman1 .blick {
    width: 382px;
    left: calc(-17*1px + (0 - -17) * ((100vw - 320*1px) / (1440 - 320)));
  }
}
@media (max-width: 1440px) {
  .question1 .section-woman1 .blick {
    height: calc(402*1px + (1019 - 402) * ((100vw - 320*1px) / (1440 - 320)));
    top: calc(-7*1px + (-156 - -7) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-woman1 .heading-best {
    height: calc(35*1px + (75 - 35) * ((100vw - 320*1px) / (1440 - 320)));
    padding: calc(16.5*1px + (40 - 16.5) * ((100vw - 320*1px) / (1440 - 320))) 0 0 0;
    font-size: calc(12*1px + (16 - 12) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-woman1 .heading-accuracy {
    padding: calc(11*1px + (17 - 11) * ((100vw - 320*1px) / (1440 - 320))) 0 0 0;
    font-size: calc(20*1px + (25 - 20) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-woman1 .heading-question {
    margin: 0 0 calc(23*1px + (60 - 23) * ((100vw - 320*1px) / (1440 - 320))) 0;
    font-size: calc(16*1px + (25 - 16) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-woman1 .heading-prediction {
    font-size: calc(12*1px + (16 - 12) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-woman1 .img-block {
    padding: calc(17*1px + (42 - 17) * ((100vw - 320*1px) / (1440 - 320))) 0 0 0;
  }
  .question1 .section-woman1 .img-block .icon {
    width: calc(225*1px + (390 - 225) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(225*1px + (390 - 225) * ((100vw - 320*1px) / (1440 - 320)));
    opacity: 0.2;
  }
  .question1 .section-woman1 .img-block .woman {
    width: calc(calc(225*1px + (390 - 225) * ((100vw - 320*1px) / (1440 - 320))) * 0.6);
    height: calc(calc(225*1px + (390 - 225) * ((100vw - 320*1px) / (1440 - 320))) * 0.6);
  }
  .question1 .section-text {
    font-size: calc(16*1px + (25 - 16) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-text .text__container {
    width: calc(255*1px + (442 - 255) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(252*1px + (437 - 252) * ((100vw - 320*1px) / (1440 - 320)));
    padding: calc(60*1px + (120 - 60) * ((100vw - 320*1px) / (1440 - 320))) calc(20*1px + (40 - 20) * ((100vw - 320*1px) / (1440 - 320))) 0;
  }
  .question1 .section-text .text__image {
    width: calc(78*1px + (135 - 78) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(78*1px + (135 - 78) * ((100vw - 320*1px) / (1440 - 320)));
    left: calc(50% - 2.4375em);
  }
  .question1 .section-text .text__body {
    line-height: calc(25*1px + (35 - 25) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-text .text__accent {
    font-size: calc(20*1px + (25 - 20) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-woman2 {
    padding: 0 0 calc(53*1px + (130 - 53) * ((100vw - 320*1px) / (1440 - 320))) 0;
  }
  .question1 .section-woman2 .text {
    width: calc(498*1px + (1440 - 498) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(331*1px + (606 - 331) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-woman2 .text__body {
    width: calc(219*1px + (380 - 219) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(149*1px + (259 - 149) * ((100vw - 320*1px) / (1440 - 320)));
    line-height: calc(25*1px + (35 - 25) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-woman2 .text__part1 {
    font-size: calc(16*1px + (25 - 16) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-woman2 .text__accent {
    font-size: calc(20*1px + (25 - 20) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-question1 {
    padding: 0 0 calc(70*1px + (150 - 70) * ((100vw - 320*1px) / (1440 - 320))) 0;
  }
  .question1 .section-question1 .question-block {
    padding: 0 0 calc(60*1px + (106 - 60) * ((100vw - 320*1px) / (1440 - 320))) 0;
  }
  .question1 .section-question1 .question-block__question {
    font-size: calc(16*1px + (25 - 16) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-question1 .question-block__footer {
    font-size: calc(12*1px + (16 - 12) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-question1 .quote-block__bg-img--eye {
    width: calc(51*1px + (160 - 51) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(51*1px + (160 - 51) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-question1 .quote-block__bg-img--eye1 {
    width: calc(84*1px + (297 - 84) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(44*1px + (157 - 44) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-question1 .quote-block__rune {
    width: calc(32.5*1px + (56.5 - 32.5) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(10*1px + (17.4 - 10) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question1 .section-question1 .quote-block__text {
    padding: calc(36*1px + (80 - 36) * ((100vw - 320*1px) / (1440 - 320))) 0;
    font-size: calc(20*1px + (25 - 20) * ((100vw - 320*1px) / (1440 - 320)));
    line-height: calc(28*1px + (35 - 28) * ((100vw - 320*1px) / (1440 - 320)));
  }
}
@media (max-width: 426px) {
  .question1 .footer {
    display: block;
  }
}
.question-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-page .container {
  max-width: 500px;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-page hr {
  position: absolute;
  bottom: 0;
  left: -50vw;
  width: 200vw;
}
.question-page .bg-img {
  position: absolute;
  opacity: 0.2;
}
.question-page .header {
  position: relative;
  min-height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 74px 0;
}
.question-page .header__text {
  box-sizing: content-box;
  padding: 48px 0 37px;
  width: 420px;
  font-family: 'Bad Script', cursive;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  opacity: 0.6;
}
.question-page .header__bg-img-eye1 {
  width: 146px;
  height: 77px;
  bottom: 0;
  right: -10%;
}
.question-page .main {
  margin: 0 0 150px 0;
}
.question-page .question {
  margin: 0 0 40px 0;
  width: 500px;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 35px;
  color: #F6C866;
}
.question-page .footer {
  flex: 1 0 auto;
  display: flex;
  align-items: flex-end;
}
.question-page .footer__text {
  margin: 0 0 46px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #fff;
  opacity: 0.6;
}
.question-page .bg-img-eye {
  width: 91px;
  height: 91px;
  left: -10%;
  bottom: 10%;
}
@media (max-width: 1440px) {
  .question-page .bg-img-eye {
    width: calc(51*1px + (91 - 51) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(51*1px + (91 - 51) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question-page .header {
    margin: 0 0 calc(36*1px + (74 - 36) * ((100vw - 320*1px) / (1440 - 320))) 0;
  }
  .question-page .header__text {
    padding: calc(23*1px + (48 - 23) * ((100vw - 320*1px) / (1440 - 320))) 0 calc(21*1px + (37 - 21) * ((100vw - 320*1px) / (1440 - 320)));
    width: calc(235*1px + (420 - 235) * ((100vw - 320*1px) / (1440 - 320)));
    font-size: calc(14*1px + (25 - 14) * ((100vw - 320*1px) / (1440 - 320)));
    line-height: calc(20*1px + (35 - 20) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question-page .header__bg-img-eye1 {
    width: calc(84*1px + (146 - 84) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(44*1px + (77 - 44) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question-page .main {
    margin: 0 0 calc(0*1px + (150 - 0) * ((100vw - 320*1px) / (1440 - 320))) 0;
  }
  .question-page .question {
    width: calc(288*1px + (500 - 288) * ((100vw - 320*1px) / (1440 - 320)));
    font-size: calc(16*1px + (25 - 16) * ((100vw - 320*1px) / (1440 - 320)));
    line-height: calc(20*1px + (35 - 20) * ((100vw - 320*1px) / (1440 - 320)));
  }
}
.question3 .select-wrapper {
  position: relative;
}
.question3 .select-wrapper::after {
  content: "";
  border-style: solid;
  border-width: 0.4em 0.54em 0;
  border-color: #202024 transparent transparent transparent;
  position: absolute;
  top: 24.5px;
  right: 0.71em;
  font-size: 20px;
  pointer-events: none;
}
.question3 select {
  background: linear-gradient(90deg, rgba(228, 228, 228, 0.9) -6.2%, rgba(203, 203, 203, 0.9) 100%);
  text-align: center;
  text-align-last: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  color: #202024;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.question3 .select-invalid {
  border: 1px solid #EE5353;
}
@media (max-width: 1440px) {
  .question3 .question {
    width: calc(260*1px + (500 - 260) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question3 .select-wrapper::after {
    font-size: calc(14*1px + (20 - 14) * ((100vw - 320*1px) / (1440 - 320)));
    top: calc(17*1px + (24.5 - 17) * ((100vw - 320*1px) / (1440 - 320)));
  }
}
.question4 .question {
  width: 500px;
}
@media (max-width: 1440px) {
  .question4 .question {
    width: calc(258*1px + (500 - 258) * ((100vw - 320*1px) / (1440 - 320)));
  }
}
.question5 .header__text {
  box-sizing: border-box;
  min-height: 84px;
  width: 480px;
  margin: 54px 0 36px;
  padding: 12px 10px;
  position: relative;
  background-color: #fff;
  color: #202024;
  border-radius: 0.35em;
  opacity: 1;
}
.question5 .header__text::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.71em;
  right: 1.28em;
  border-style: solid;
  border-width: 1.2em 0.6em 0;
  border-color: #fff transparent transparent;
}
.question5 .header__text-1 {
  padding: 20px 10px;
}
@media (max-width: 1440px) {
  .question5 .header__text {
    padding: 12px 10px;
    margin: calc(23*1px + (54 - 23) * ((100vw - 320*1px) / (1440 - 320))) 0 calc(21*1px + (36 - 21) * ((100vw - 320*1px) / (1440 - 320)));
    width: calc(260*1px + (480 - 260) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .question5 .header__text-1 {
    padding: 20px 10px;
  }
}
.msg-recording {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* background: */
  /* value: */
}
.msg-recording__img {
  width: 200px;
  height: 95px;
  margin: 0 0 55px 0;
}
.msg-recording__progress {
  width: 340px;
  height: 6px;
  margin: 0 0 32px 0;
  border-radius: 3px;
  color: #F6C866;
}
.msg-recording__progress::-moz-progress-bar {
  border-radius: 3px;
  background: #fff;
}
.msg-recording__progress::-webkit-progress-bar {
  border-radius: 3px;
  background-color: #fff;
}
.msg-recording__progress {
  border-radius: 3px;
  background-color: #fff;
}
.msg-recording__progress::-webkit-progress-value {
  border-radius: 3px;
  background-color: #F6C866;
}
.msg-recording__progress::-moz-progress-bar {
  border-radius: 3px;
  background-color: #F6C866;
}
.msg-recording__progress {
  border-radius: 3px;
  color: #F6C866;
}
.msg-recording__label {
  letter-spacing: 0.1em;
  font-weight: 300;
  opacity: 0.6;
}
.msg-recording__label-1 {
  font-size: 25px;
  line-height: 35px;
  margin: 0 0 0.75em 0;
}
.msg-recording__label-2 {
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 1440px) {
  .msg-recording {
    /* background: */
    /* value: */
  }
  .msg-recording__img {
    width: calc(148*1px + (200 - 148) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(70*1px + (95 - 70) * ((100vw - 320*1px) / (1440 - 320)));
    margin: 0 0 calc(40*1px + (55 - 40) * ((100vw - 320*1px) / (1440 - 320))) 0;
  }
  .msg-recording__progress {
    width: calc(260*1px + (340 - 260) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(4*1px + (6 - 4) * ((100vw - 320*1px) / (1440 - 320)));
    margin: 0 0 calc(24*1px + (32 - 24) * ((100vw - 320*1px) / (1440 - 320))) 0;
    border-radius: calc(2*1px + (3 - 2) * ((100vw - 320*1px) / (1440 - 320)));
    color: #F6C866;
  }
  .msg-recording__progress::-moz-progress-bar {
    border-radius: calc(2*1px + (3 - 2) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .msg-recording__progress::-webkit-progress-bar {
    border-radius: calc(2*1px + (3 - 2) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .msg-recording__progress {
    border-radius: calc(2*1px + (3 - 2) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .msg-recording__progress::-webkit-progress-value {
    border-radius: calc(2*1px + (3 - 2) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .msg-recording__progress::-moz-progress-bar {
    border-radius: calc(2*1px + (3 - 2) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .msg-recording__progress {
    border-radius: calc(2*1px + (3 - 2) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .msg-recording__label-1 {
    font-size: calc(20*1px + (25 - 20) * ((100vw - 320*1px) / (1440 - 320)));
    line-height: calc(24*1px + (35 - 24) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .msg-recording__label-2 {
    font-size: calc(12*1px + (16 - 12) * ((100vw - 320*1px) / (1440 - 320)));
    line-height: calc(14*1px + (20 - 14) * ((100vw - 320*1px) / (1440 - 320)));
  }
}
.last-page {
  text-align: center;
  color: #fff;
}
.last-page .container {
  margin: 0 auto;
  max-width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.last-page .header__text {
  box-sizing: border-box;
  min-height: 84px;
  width: 480px;
  border-radius: 0.35em;
  margin: 54px 0 36px;
  padding: 6px 10px;
  position: relative;
  background-color: #fff;
  font-size: 25px;
  line-height: 35px;
  color: #202024;
  opacity: 1;
}
.last-page .header__text span {
  display: block;
  font-weight: 700;
}
.last-page .header__text::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.71em;
  right: 1.28em;
  border-style: solid;
  border-width: 1.2em 0.6em 0;
  border-color: #fff transparent transparent;
}
.last-page .header__text-1 {
  padding: 20px 10px;
}
.last-page .main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last-page .main .text {
  width: 420px;
  margin: 0 0 40px 0;
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
}
.last-page .main .main-text-block {
  width: 480px;
  margin: 0 0 20px 0;
  padding: 64px 50px 50px;
  border: 1px solid #fff;
  border-radius: 3px;
}
.last-page .main .main-text-block__text {
  font-size: 25px;
  line-height: 35px;
  color: #F6C866;
}
.last-page .main .main-text-block__text span {
  text-transform: uppercase;
  font-weight: 700;
}
.last-page .main .btn::after {
  background: linear-gradient(225deg, rgba(255, 255, 255, 0) 30.84%, rgba(255, 255, 255, 0.29) 46.06%, rgba(255, 255, 255, 0) 64.04%);
  animation-duration: 2s;
}
.last-page .main .btn-call-n-listen {
  width: 400px;
  height: 80px;
  background: linear-gradient(90deg, rgba(76, 217, 100, 0.9) -6.2%, rgba(50, 185, 73, 0.9) 100%);
}
.last-page .main .fetched-info {
  display: none;
  width: 100%;
}
.last-page .main .fetched-info table {
  margin: 0 0 40px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  color: #F6C866;
}
.last-page .main .fetched-info thead {
  text-transform: uppercase;
}
.last-page .main .fetched-info thead th:last-child {
  color: #fff;
}
.last-page .main .fetched-info tbody tr td:first-child {
  padding: 0 50px 0 0;
}
.last-page .main .fetched-info tbody tr td:last-child {
  color: #fff;
}
.last-page .footer {
  font-size: 12px;
  line-height: 18px;
}
.last-page .footer__text {
  letter-spacing: 3px;
  color: #9D9D9D;
}
@media (max-width: 426px) {
  .last-page .footer {
    position: absolute;
    bottom: -3.6em;
  }
}
@media (max-width: 1440px) {
  .last-page .header__text {
    width: calc(260*1px + (480 - 260) * ((100vw - 320*1px) / (1440 - 320)));
    margin: calc(23*1px + (54 - 23) * ((100vw - 320*1px) / (1440 - 320))) 0 calc(21*1px + (36 - 21) * ((100vw - 320*1px) / (1440 - 320)));
    font-size: calc(14*1px + (25 - 14) * ((100vw - 320*1px) / (1440 - 320)));
    line-height: calc(20*1px + (35 - 20) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .last-page .main .text {
    width: calc(220*1px + (420 - 220) * ((100vw - 320*1px) / (1440 - 320)));
    margin: 0 0 calc(18*1px + (40 - 18) * ((100vw - 320*1px) / (1440 - 320))) 0;
    font-size: calc(14*1px + (25 - 14) * ((100vw - 320*1px) / (1440 - 320)));
    line-height: calc(16*1px + (35 - 16) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .last-page .main .main-text-block {
    width: calc(260*1px + (480 - 260) * ((100vw - 320*1px) / (1440 - 320)));
    margin: 0 0 calc(20*1px + (36 - 20) * ((100vw - 320*1px) / (1440 - 320))) 0;
    padding: calc(16*1px + (64 - 16) * ((100vw - 320*1px) / (1440 - 320))) calc(15*1px + (50 - 15) * ((100vw - 320*1px) / (1440 - 320))) calc(15*1px + (50 - 15) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .last-page .main .main-text-block__text {
    font-size: calc(16*1px + (25 - 16) * ((100vw - 320*1px) / (1440 - 320)));
    line-height: calc(25*1px + (35 - 25) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .last-page .main .btn::after {
    width: 200%;
  }
  .last-page .main .btn-call-n-listen {
    width: calc(240*1px + (400 - 240) * ((100vw - 320*1px) / (1440 - 320)));
    height: calc(48*1px + (80 - 48) * ((100vw - 320*1px) / (1440 - 320)));
  }
  .last-page .footer {
    font-size: calc(7*1px + (12 - 7) * ((100vw - 320*1px) / (1440 - 320)));
    line-height: calc(9*1px + (18 - 9) * ((100vw - 320*1px) / (1440 - 320)));
  }
}
